.wrapper_template {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

.choose_template {
    display: flex;
    flex-direction: column;
}

.p {
    margin: 1rem 0rem;
    font-size: 1.4rem;
}

.label {
    padding-left: 5px;
}

.first_template {
    padding: 5px 0px;
}